:root {
  --text-color: #212529;
  --space-medium: 24px;
}
.page {
  background: #ffffff;
  padding: 0 15px;
}

.page_content {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  padding: var(--space-medium);

  border-bottom: 1px solid #dee2e6;

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
}

.divider {
  margin: 0;
  height: 1px;
  background: #dee2e6;
}

.nav {
  display: block;
}

.nav_link {
  color: #343a40;
  font-size: 16px;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  opacity: 50%;
  /* прозорість */
}

.nav_vertical > .nav_link {
  display: block;
}

.nav_inline > .nav_link:not(:last-child) {
  margin-right: var(--space-medium);
}

.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}

.page_block:not(:last-child) {
  margin-bottom: 80px;
}

.footer {
  padding: var(--space-medium) 0;

  border-top: 1px solid #dee2e6;

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: 14px;
  color: #6c757d;

  display: block;
  margin-top: 12px;
}

.footer_title {
  font-size: 20px;
  color: var(--text-color, #212529);

  display: block;
  margin-bottom: 12px;
}

.hero_title {
  font-size: 56px;
  color: #ffffff
  font-weight: 500;
  margin-bottom: 12px;
}

.hero_text {
  color: #ffffff
  font-size: 20px;
  max-width: 585px;
}

.hero {
  background: #343a40;
  border-radius: 24px;
  padding: 80px;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.button {
	text-decoration: none;
	color: #ffffff;

	max-width: 248px;
	width: 100%;

	display: inline-block;
	font-size: 16px;
	padding: 10px 20px;
	background:#007BFF;
	border-radius: 4px;
	text-align: center;
}

.button:hover {
	background:#4698ef;
}

.preview {
	padding: 24px;
	border-radius: 24px;
	border: 1px solid #DEE2E6;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);;
}

.preview_header > span:not(:last-of-type) {
	margin-right: 12px;
}

.preview_date {
	color: #6C757D;
	font-size: 16px;
}

.preview_category {
	font-size: 16px;
}

.preview >*:not(:last-child) {
	margin-bottom: 12px;
}

.preview_title {
	display: block;
	color: #343A40;
	font-size: 28px;
	font-weight: 500;
}

.preview_description {
	color: #212529;
	font-size: 16px;
}

.preview_category_1 {
	color: #007BFF;
}

.preview_category_2 {
	color: #198754;
}

.preview_category_3 {
	color: #F00;
}

.preview_category_4 {
	color: #FF7A00;
}

.list_title {
	color: #212529;
	font-weight: 500;
	font-size: 32px;
	margin: 0;
}

.list_header {
	padding-bottom: 12px;
	border-bottom: 1px solid #DEE2E6;
	margin-bottom: 40px;

	display: flex;
	justify-content: space-between;
}

.category_button {
	font-size: 16px;
	color: #6C757D;

	padding: 10px 16px;
	border-radius: 40px;
	border: 1px solid #6C757D;

	line-height: 100%;
}

.category_button:hover {
	background: #6c757d14;
}

.list_aside {
	margin-left: 40px;
}

.category_list {
	text-align: right;
}

.list > *:not(:last-child) {
margin-bottom: 40px;
}

.post {
	padding-bottom: 12px;
	border-bottom: 1px solid #dee2e6;
}

.post > *:not(:last-child) {
	margin-bottom: 12px;
}

.post_title {
	display: block;
	font-weight: 500;
	font-size: 27px;
	color: #212529;
}

.post_info {
	color: #999;
	font-weight: 400;
	font-size: 16px;
}

.post_author {
	color: #0050FF;
}

.post_description {
	font-size: 16px;
	font-weight: 400;
	color: #212529;
}

.list_aside > *:not(:last-child) {
	margin-bottom: 24px;
}

.about {
	background: #F8F9FA;
	padding: 24px;
}

.about_title {
	color: #212529;
	font-size: 20px;
	font-weight: 500;
}

.about_text {
	color: #212529;
	font-size: 14px;
	font-weight: 400;

	line-height: 170%;
}

.link_list {
	padding: 24px;
}

.link_title {
	display: block;

	color: #212529;
	font-size: 24px;
	font-weight: 500;
}

.link_list > *:not(:last-child) {
	margin-bottom: 12px;
}

.link_item {
	color: #007BFF;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	display: block;
}

.link_item:hover {
	text-decoration: underline;
}

.flex_container {
	display: flex;
	/* гнучке позиціювання (альтернатива сітковій системі) */

	flex-direction: row;
	/* напрямок горизонтально зліва направо */
	/* flex-direction: row-reverse;
	напрямок справа наліво */
	/* flex-direction: column; */
	/* напрямок зверху вниз */
	/* flex-direction: column-reverse;
	напрямок знизу вверх */

	flex-wrap:wrap;
	/* перенесення контенту на новий рядок */

	/* justify-content: flex-start; */
	/* розміщення контенту по основній лінії на початку */
	/* justify-content: flex-end;
	розміщення контенту вкінці */
	justify-content: center;
	/* розміщення контенту посередині */
	/* justify-content: space-between;
	розміщення рівномірно по сторінці */
	/* justify-content: space-around;
	розміщення контенту рівномірно по сторінці з відступами по краях меншими ніж по середині в половину */
	/* justify-content: space-evenly; */
	/* розміщення контенту рівномірно з однаковими відступами як посередині так і по краях */
	/* justify-content: stretch; */
	/* розтягує елементи, щоб зайняти всю ширину */

	align-content: space-between;
	/* розміщення кентенту по другорядній лінії. Значення такі самі як і по основній. */
	/* align-content: baseline;
	елементи вирівнюються по лінії рядка тексту */

	align-items: flex-start;
	/* вирівнювання елементів по другій лінії */
	gap: 24px;
	/* проміжки між елементами */
}

.flex_item {
	/* width: 50%; */

	flex-basis: calc(50% - (24px / 2))
	/* задання початкової довжини елементів вздовж головної лінії */
	/* margin: 15px; */

	/* flex-grow: 1; */
	/* встановлення пропорційного збільшення довжини елементів по головній лінії */
}

.flex_item:first-of-type {
	/* align-self: flex-end; */
	/* height: 100px; */

	/* flex-basis: calc(50% - 24px); */

	flex-shrink: 0;
	/* пропорційне зменшення довжини елементів по головній лінії */
}

.flex_item:nth-of-type(2) {
	/* align-self: center; */
	/* height: 300px; */
}

.flex_item:nth-of-type(3) {
	/* align-self: center; */
	/* height: 300px; */

	/* flex-basis: calc(50% - 24px); */

	order: 1;
	/* порядок розміщення елементів */
}